{% extends 'base.html' %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href={% url 'index' %}>Home</a></li>
	  <li><a href={% url 'notes:categories' %}>Categories</a></li>
          <li>{{ object.name }}</li>
        </ol>
        <h2>{{ object.name }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
	  {% for item in object.topics.all %}
		  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		    <div class="icon-box">
		      <div class="icon"><i class="bx bxl-file"></i></div>
		      <h4><a href={% url 'notes:topic' item.slug %}>{{ item.title }}</a></h4>
		      <p><span style="text-align:right"><a href={% url 'notes:topic_delete' pk=item.id %}>[delete topic]</a></span></p>
		    </div>
		  </div>
	  {% endfor %}

		   <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bxl-file"></i></div>
                      <h4><a href={% url 'notes:topic_create' %}>Add new topic</a></h4>
                      <p>Create new topic</p>
                    </div>
                  </div>

        </div>

      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main -->
{% endblock %}
