{% extends 'base.html' %}
{% load markup_tags %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href={% url 'index' %}>Home</a></li>
	  <li><a href={% url 'notes:categories' %}>Categories</a></li>
          <li><a href={% url 'notes:category' object.category.slug %}>{{ object.category.name }}</a></li>
	  <li>{{ object.title }}</li>
        </ol>
        <h2>{{ object.title }}</h2>
	{% if 'youtube.com' in object.url %}
		<center><iframe width="560" height="315" src="{{ object.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
		<h4><a href="{{object.url}}">{{ object.url }}</a></h4>
	{% else %}
		<h4><a href="{{object.url}}">{{ object.url }}</a></h4>
	{% endif %}

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="team" class="team">
      <div class="container">

	  {% for item in object.notes.all %}
          <div class="d-flex align-items-stretch">
            <div class="member">
              <span style="text-align:right"><a href={% url 'notes:note_update' pk=item.id %}>[e]</a> <a href={% url 'notes:note_delete' pk=item.id %}>[x]</a></span>
	      <span style="text-align:right"><a href={% url 'notes:attachement_create' id=item.id %}>[add attachement]</a></span>
              <h4>#{{forloop.counter}} {{ item.title }}</h4>
              <span>{{ item.created }}</span>
		
		<p>
		{% if item.attachements.count > 0 %}
			{% for attachement in item.attachements.all %}
				<h5><a href="{{ attachement.file.url }}">{{ attachement }}</a> ({{ attachement.file.size | filesizeformat }}) {{ attachment.get_extension }}</h5>
				{% if attachement.get_extension == "mp4" %}

					<video width="320" height="240" controls>
 						 <source src="{{ attachment.file.url }}" type="video/mp4">
						Your browser does not support the video tag.
					</video	>
				{% endif %}
			{% endfor %}
		{% endif %}
		</p>
		<p>
               {{ item.text |apply_markup:"textile" }} 
              </p>
            </div>
          </div>
	  {% endfor %}

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
	    <div class="icon-box">
	      <div class="icon"><i class="bx bxl-file"></i></div>
	      <h4><a href={% url 'notes:note_create' %}>Add new note</a></h4>
	      <p>Add new note</p>
	    </div>
	  </div>
        </div>

      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main -->
{% endblock %}
