asgiref==3.5.2
boto3==1.24.94
botocore==1.27.94
Django==4.1.2
django-crispy-forms==1.14.0
django-storages==1.13.1
jmespath==1.0.1
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.12
textile==4.0.2
django-markup==1.6

